<section class="page-container home-section">
  <div class="sistema-solar">
    <div class="sol">
      <img class="profile-img" src="../../assets/profile.jpeg" alt="profile" />
    </div>
    <div class="orbita-1">
      <div class="planeta-1">
        <img class="tech-img" src="../../assets/nextjs.svg" alt="tech" />
      </div>
      <div class="planeta-2">
        <img class="tech-img" src="../../assets/javascript.svg" alt="tech" />
      </div>
      <div class="planeta-3">
        <img class="tech-img" src="../../assets/angular.png" alt="tech" />
      </div>
    </div>

    <div class="orbita-2">
      <div class="planeta-4">
        <img class="tech-img" src="../../assets/typescript.svg" alt="tech" />
      </div>
      <div class="planeta-5">
        <img class="tech-img" src="../../assets/golang.png" alt="tech" />
      </div>
      <div class="planeta-6">
        <img class="tech-img" src="../../assets/nodejs.svg" alt="tech" />
      </div>
      <div class="planeta-7">
        <img class="tech-img" src="../../assets/react.svg" alt="tech" />
      </div>
      <div class="planeta-8">
        <img class="tech-img" src="../../assets/fastify.svg" alt="tech" />
      </div>
    </div>
  </div>
  <div class="scroll-button">
    <p>Scroll to bottom</p>
    <img src="../../assets/mouse.svg" alt="scroll" />
  </div>
</section>
