.container-top {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    color: black;
  }
}

.container-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  .content-projects {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 24px;

    .card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px;
      background-color: #f2f7ff80;
      border: black 1px solid;
      border-radius: 8px;

      .nav {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .img {
        width: 320px;
        height: 224px;
        border-radius: 8px;
      }

      .tech {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;
      }

      .project-iframe {
        width: 400px;
        height: 420px;
        border: none;
        border-radius: 8px;
        display: block;
        background: #fff;
      }
    }
  }
}
