.nav-link {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem 1.3rem;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.active .svg-path {
  stroke: #6f6fd6;
}

.inactive .svg-path {
  stroke: #2d2f4a;
}
